.vscode
__pycache__
cpu/examples/cifar-10-data/*
cpu/axqconv/axmult.cc
cpu/axqconv/axmult.h
cpu/axqconv/axmult.o
cpu/axqconv/.tfconfig
cpu/axqconv/axqconv.so
cpu/axqconv/tables
cpu/axqconv/tune
cpu/axqconv/*.o
